In [95]:
from sklearn.linear_model import LogisticRegression

In [10]:
import numpy as np
import pandas as pd

In [69]:
df = pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [74]:
df2 = df.apply(lambda x: pd.factorize(x)[0])
df2[df2<0]=0
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,0,0,1,1,0,1
2,2,1,0,2,1,2,1,0,2,2,0,0
3,3,1,1,3,1,3,0,0,3,3,1,0
4,4,0,0,4,0,3,1,0,4,4,0,0
5,5,0,0,5,0,0,1,0,5,5,0,2
6,6,0,1,6,0,4,1,0,6,6,2,0
7,7,0,0,7,0,5,2,1,7,7,0,0
8,8,1,0,8,1,6,1,2,8,8,0,0
9,9,1,2,9,1,7,0,0,9,9,0,1
10,10,1,0,10,1,8,0,1,10,10,3,0
11,11,1,1,11,1,9,1,0,11,11,4,0
12,12,0,0,12,0,10,1,0,12,4,0,0
13,13,0,0,13,0,11,0,3,13,12,0,0
14,14,0,0,14,1,7,1,0,14,13,0,0
15,15,1,2,15,1,12,1,0,15,14,0,0
16,16,0,0,16,0,5,3,1,16,15,0,2
17,17,1,2,17,0,0,1,0,17,16,0,0
18,18,0,0,18,1,13,0,0,18,17,0,0
19,19,1,0,19,1,0,1,0,19,18,0,1
20,20,0,2,20,0,3,1,0,20,19,0,0
21,21,1,2,21,0,14,1,0,21,16,5,0
22,22,1,0,22,1,15,1,0,22,20,0,2
23,23,1,1,23,0,16,1,0,23,21,6,0
24,24,0,0,24,1,17,2,1,7,7,0,0
25,25,1,0,25,1,1,0,3,24,22,0,0
26,26,0,0,26,0,0,1,0,25,18,0,1
27,27,0,1,27,0,18,2,2,26,23,7,0
28,28,1,0,28,1,0,1,0,27,24,0,2
29,29,0,0,29,0,0,1,0,28,25,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
861,861,0,2,861,0,22,0,0,660,86,0,0
862,862,1,1,862,1,75,1,0,661,232,135,0
863,863,0,0,863,1,0,6,2,148,94,0,0
864,864,0,2,864,0,41,1,0,662,16,0,0
865,865,1,2,865,1,21,1,0,663,16,0,0
866,866,1,2,866,1,6,0,0,664,243,0,1
867,867,0,1,867,0,13,1,0,665,244,143,0
868,868,0,0,868,0,0,1,0,666,59,0,0
869,869,1,0,869,0,8,0,1,8,8,0,0
870,870,0,0,870,0,2,1,0,667,25,0,0
871,871,1,1,871,1,46,0,1,222,124,41,0
872,872,0,1,872,0,39,1,0,668,245,114,0
873,873,0,0,873,0,46,1,0,669,58,0,0
874,874,1,2,874,1,16,0,0,274,145,0,1
875,875,1,0,875,1,15,1,0,670,18,0,1
876,876,0,0,876,0,10,1,0,128,246,0,0
877,877,0,0,877,0,18,1,0,671,25,0,0
878,878,0,0,878,0,0,1,0,672,25,0,0
879,879,1,1,879,1,59,1,1,276,147,144,1
880,880,1,2,880,1,36,1,1,232,19,0,0
881,881,0,0,881,0,39,1,0,673,25,0,0
882,882,0,0,882,1,0,1,0,674,247,0,0
883,883,0,2,883,0,16,1,0,675,29,0,0
884,884,0,0,884,0,36,1,0,676,79,0,0
885,885,0,0,885,1,11,1,3,16,15,0,2
886,886,0,2,886,0,6,1,0,677,16,0,0
887,887,1,1,887,1,18,1,0,678,209,145,0
888,888,0,0,888,1,0,0,2,614,231,0,0
889,889,1,1,889,0,2,1,0,679,209,146,1
890,890,0,0,890,0,34,1,0,680,28,0,2

In [102]:
data = np.array(df2.drop('Survived', axis=1))
from sklearn.preprocessing import MinMaxScaler 
scaler = MinMaxScaler()
scaler.fit(data)
data = scaler.transform(data)
target = (np.array(df2.Survived))
print(data)
print(target)

[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.0011236  0.5        0.0011236  ... 0.00404858 0.         0.5       ]
 [0.00224719 0.         0.00224719 ... 0.00809717 0.         0.        ]
 ...
 [0.99775281 0.         0.99775281 ... 0.93522267 0.         0.        ]
 [0.9988764  0.5        0.9988764  ... 0.84615385 1.         0.5       ]
 [1.         0.         1.         ... 0.11336032 0.         1.        ]]
[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0
 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1
 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1
 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1
 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 1 0
 0 0 0 1 1 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0
 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0
 0 0 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1
 0 1 0]

/Users/shohei/.pyenv/versions/anaconda3-4.1.0/lib/python3.5/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [103]:
from sklearn.model_selection import train_test_split

In [104]:
X_train,X_test,y_train,y_test = train_test_split(data,target)

In [105]:
X_test.shape[0]/(X_test.shape[0]+X_train.shape[0])

0.250280583613917

In [106]:
clf = LogisticRegression()

In [107]:
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.8565022421524664

In [177]:
test = pd.read_csv('test.csv')
test_pid = pd.DataFrame({'PassengerId':test['PassengerId']})
test_tmp = test.drop('PassengerId', axis=1)
test_tmp = test_tmp.apply(lambda x: pd.factorize(x)[0])
test_tmp[test_tmp<0]=0
test = pd.concat([test_pid,test_tmp],axis=1)
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,0,0,0,0,0,0,0,0,0
1,893,0,1,1,1,1,0,1,1,0,1
2,894,1,2,0,2,0,0,2,2,0,0
3,895,0,3,0,3,0,0,3,3,0,1
4,896,0,4,1,4,1,1,4,4,0,1
5,897,0,5,0,5,0,0,5,5,0,1
6,898,0,6,1,6,0,0,6,6,0,0
7,899,1,7,0,7,1,1,7,7,0,1
8,900,0,8,1,8,0,0,8,8,0,2
9,901,0,9,0,9,2,0,9,9,0,1
10,902,0,10,0,0,0,0,10,10,0,1
11,903,2,11,0,10,0,0,11,11,0,1
12,904,2,12,1,11,1,0,12,12,0,1
13,905,1,13,0,12,1,0,13,11,0,1
14,906,2,14,1,1,1,0,14,13,1,1
15,907,1,15,1,13,1,0,15,14,0,2
16,908,1,16,0,14,0,0,16,15,0,0
17,909,0,17,0,9,0,0,17,16,0,2
18,910,0,18,1,3,1,0,18,17,0,1
19,911,0,19,1,15,0,0,19,16,0,2
20,912,2,20,0,16,1,0,20,18,0,2
21,913,0,21,0,17,0,1,21,19,0,1
22,914,2,22,1,0,0,0,22,20,0,1
23,915,2,23,0,9,0,1,23,21,0,2
24,916,2,24,1,18,1,2,24,22,2,2
25,917,0,25,0,19,1,0,25,23,0,1
26,918,2,26,1,4,0,1,26,24,3,2
27,919,0,27,0,20,0,0,27,16,0,2
28,920,2,28,0,21,0,0,28,25,4,1
29,921,0,29,0,0,2,0,29,26,0,2
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,0,388,0,9,0,0,340,40,0,0
389,1281,0,389,0,38,3,1,341,160,0,1
390,1282,2,390,0,11,0,0,277,141,69,1
391,1283,2,391,1,76,0,1,342,161,70,1
392,1284,0,392,0,33,0,3,343,162,0,1
393,1285,1,393,0,1,0,0,344,108,0,1
394,1286,0,394,0,35,3,1,156,96,0,1
395,1287,2,395,1,8,1,0,50,43,10,1
396,1288,0,396,0,13,0,0,345,82,0,0
397,1289,2,397,1,18,1,1,346,147,71,2
398,1290,0,398,0,4,0,0,347,64,0,1
399,1291,0,399,0,34,0,0,348,95,0,0
400,1292,2,400,1,6,0,0,202,117,72,1
401,1293,1,401,0,62,1,0,349,53,0,1
402,1294,2,402,1,4,0,1,325,18,0,2
403,1295,2,403,0,31,0,0,350,163,0,1
404,1296,2,404,0,43,1,0,351,14,73,2
405,1297,1,405,0,28,0,0,352,164,74,2
406,1298,1,406,0,11,1,0,353,108,0,1
407,1299,2,407,0,19,1,1,71,57,43,2
408,1300,0,408,1,0,0,0,354,165,0,0
409,1301,0,409,1,77,1,1,150,94,0,1
410,1302,0,410,1,0,0,0,355,40,0,0
411,1303,2,411,1,57,1,0,356,166,5,0
412,1304,0,412,1,29,0,0,357,64,0,1
413,1305,0,413,0,0,0,0,358,31,0,1
414,1306,2,414,1,25,0,0,359,167,75,2
415,1307,0,415,0,78,0,0,360,82,0,1
416,1308,0,416,0,0,0,0,361,31,0,1
417,1309,0,417,0,0,1,1,362,168,0,2

In [178]:
survived = clf.predict(test).astype(int)

In [182]:
result = pd.DataFrame({"PassengerId":test.PassengerId,"Survived":survived})
result.to_csv('submission.csv',index=False)

In [183]:
!cat submission.csv

PassengerId,Survived
892,0
893,0
894,0
895,0
896,0
897,0
898,0
899,0
900,0
901,0
902,0
903,0
904,0
905,0
906,0
907,0
908,0
909,0
910,0
911,0
912,0
913,0
914,0
915,0
916,0
917,0
918,0
919,0
920,0
921,0
922,0
923,0
924,0
925,0
926,0
927,0
928,0
929,0
930,0
931,0
932,0
933,0
934,0
935,0
936,0
937,0
938,0
939,0
940,0
941,0
942,0
943,0
944,0
945,0
946,0
947,0
948,0
949,0
950,0
951,0
952,0
953,0
954,0
955,0
956,0
957,0
958,0
959,0
960,0
961,0
962,0
963,0
964,0
965,0
966,0
967,0
968,0
969,0
970,0
971,0
972,0
973,0
974,0
975,0
976,0
977,0
978,0
979,0
980,0
981,0
982,0
983,0
984,0
985,0
986,0
987,0
988,0
989,0
990,0
991,0
992,0
993,0
994,0
995,0
996,0
997,0
998,0
999,0
1000,0
1001,0
1002,0
1003,0
1004,0
1005,0
1006,0
1007,0
1008,0
1009,0
1010,0
1011,0
1012,0
1013,0
1014,0
1015,0
1016,0
1017,0
1018,0
1019,0
1020,0
1021,0
1022,0
1023,0
1024,0
1025,0
1026,0
1027,0
1028,0
1029,0
1030,0
1031,0
1032,0
1033,0
1034,0
1035,0
1036,0
1037,0
1038,0
1039,0
1040,0
1041,0
1042,0
1043,0
1044,0
1045,0
1046,0
1047,0
1048,0
1049,0
1050,0
1051,0
1052,0
1053,0
1054,0
1055,0
1056,0
1057,0
1058,0
1059,0
1060,0
1061,0
1062,0
1063,0
1064,0
1065,0
1066,0
1067,0
1068,0
1069,0
1070,0
1071,0
1072,0
1073,0
1074,0
1075,0
1076,0
1077,0
1078,0
1079,0
1080,0
1081,0
1082,0
1083,0
1084,0
1085,0
1086,0
1087,0
1088,0
1089,0
1090,0
1091,0
1092,0
1093,0
1094,0
1095,0
1096,0
1097,0
1098,0
1099,0
1100,0
1101,0
1102,0
1103,0
1104,0
1105,0
1106,0
1107,0
1108,0
1109,0
1110,0
1111,0
1112,0
1113,0
1114,0
1115,0
1116,0
1117,0
1118,0
1119,0
1120,0
1121,0
1122,0
1123,0
1124,0
1125,0
1126,0
1127,0
1128,0
1129,0
1130,0
1131,0
1132,0
1133,0
1134,0
1135,0
1136,0
1137,0
1138,0
1139,0
1140,0
1141,0
1142,0
1143,0
1144,0
1145,0
1146,0
1147,0
1148,0
1149,0
1150,0
1151,0
1152,0
1153,0
1154,0
1155,0
1156,0
1157,0
1158,0
1159,0
1160,0
1161,0
1162,0
1163,0
1164,0
1165,0
1166,0
1167,0
1168,0
1169,0
1170,0
1171,0
1172,0
1173,0
1174,0
1175,0
1176,0
1177,0
1178,0
1179,0
1180,0
1181,0
1182,0
1183,0
1184,0
1185,0
1186,0
1187,0
1188,0
1189,0
1190,0
1191,0
1192,0
1193,0
1194,0
1195,0
1196,0
1197,0
1198,0
1199,0
1200,0
1201,0
1202,0
1203,0
1204,0
1205,0
1206,0
1207,0
1208,0
1209,0
1210,0
1211,0
1212,0
1213,0
1214,0
1215,0
1216,0
1217,0
1218,0
1219,0
1220,0
1221,0
1222,0
1223,0
1224,0
1225,0
1226,0
1227,0
1228,0
1229,0
1230,0
1231,0
1232,0
1233,0
1234,0
1235,0
1236,0
1237,0
1238,0
1239,0
1240,0
1241,0
1242,0
1243,0
1244,0
1245,0
1246,0
1247,0
1248,0
1249,0
1250,0
1251,0
1252,0
1253,0
1254,0
1255,0
1256,0
1257,0
1258,0
1259,0
1260,0
1261,0
1262,0
1263,0
1264,0
1265,0
1266,0
1267,0
1268,0
1269,0
1270,0
1271,0
1272,0
1273,0
1274,0
1275,0
1276,0
1277,0
1278,0
1279,0
1280,0
1281,0
1282,0
1283,0
1284,0
1285,0
1286,0
1287,0
1288,0
1289,0
1290,0
1291,0
1292,0
1293,0
1294,0
1295,0
1296,0
1297,0
1298,0
1299,0
1300,0
1301,0
1302,0
1303,0
1304,0
1305,0
1306,0
1307,0
1308,0
1309,0